* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  height: 1000px;
}

.nav {
  overflow: hidden;
  background-color: #e9e9e9;
  /* Key Design */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* Sticky bar */
  position: fixed;
  top: 0;
  width: 100%;
}

.nav a {
  float: left; /* for some item only */
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #cb9935;
  color: white;
}

.nav a.active {
  background-color: #cb9935;
  color: white;
}

.cover {
  background-image: url("https://williamwee02.gitlab.io/Praktis-2/img/main-bg.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
